# Development files
.eslintrc.js
/.editorconfig
/.eslintignore
/.gitattributes
/.github
/.travis.yml
/dist

# Coverage created files
/.nyc_output
/coverage

# Temporary resource
/external-resources
/tools
/firmwares
/drivers
/translations
