.app{
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo{
    max-width: 10rem;
    max-height: 10rem;
    display: table-cell;
    text-align: center;
    margin: auto;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}

.version{
    align-self: center;
    text-align: left;
}

.component-version{
    font-size: x-small;
    text-align: left;
}

.component-version p{
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}
